<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pretvornik enot</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Pretvornik enot</h1>
    <p>Pretvornik pretvarja kilometre v milje in milje v kilometre.</p>
    <br>
    <br>
    
    <form method="post" action="/">
        <input name="vnos" class="okno" placeholder="Vpišite razdaljo">

    <div class="dropdown">
        <button class="dropbtn" type="button">Pretvori</button>
        <div class="dropdown-content">
            <button type="submit" name="pretvornik" value="milje">Milje v kilometre</button>
            <button type="submit" name="pretvornik" value="km">Kilometre v milje</button>
        </div>
    </div>
    </form>
    
    <div class="result">
        <p>Rezultat: {{ message }}</p>
    </div>
    
</body>
</html>